html {
    /* el estilo general de la pagina*/
    background: -webkit-radial-gradient(rgba(0,51,255,.3) 90%, transparent 10%);
    background-color: #96BBE9;
    background-size: 10px 10px;
    font-family: "Calibri", Georgia, sans-serif;
}

#title {
    font-style: bold;
}
.main {
    background: #FFFFFF;
    width: 1100px;
    height: 1000px;
    margin: 0 auto;
    border-radius:5px; 
    margin-top: 20px;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.inicio {
    background: #02639D;
    background: -moz-linear-gradient(#02639D,#033847);
    background: -ms-linear-gradient(#02639D,#033847);
    background: -o-linear-gradient(#02639D,#033847);
    background: -webkit-linear-gradient(#02639D,#033847);
    background: linear-gradient(#02639D,#033847);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px; 
    -webkit-border-radius: 4px;
    height: 45px;
    width: 100%;
}

.usuario {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px; 
    -webkit-border-radius: 8px;
    background: #FFFFFF;
    border-bottom: 1px solid #000000;
    border: none;
    display: inline-block;
    font-size: 11px;
    height: 20px;
    margin-left: 990px;
    margin-top: 10px;
    padding-left: 10px; 
    width: 100px;
    border:1px solid #FFFFFF;
}

.password {
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px; 
    -webkit-border-radius: 8px;
    background: #FFFFFF;
    border-bottom: 1px solid #414141;
    border-radius: 8px;
    border: none;
    color: white;
    display: inline-block;
    font-size: 11px;
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px; 
    width: 100px;
    border:1px solid #002B55;
}

input::-moz-input-placeholder {
    color: #888888;
    font-size: 11px;
    line-height: 11px;
}
input::-ms-input-placeholder {
    color: #888888;
    font-size: 11px;
    line-height: 11px;
}
input::-o-input-placeholder {
    color: #888888;
    font-size: 11px;
    line-height: 11px;
}
input::-webkit-input-placeholder {
    color: #888888;
    font-size: 11px;
    line-height: 11px;
}
input::input-placeholder {
    color: #888888;
    font-size: 11px;
    line-height: 11px;
}

.ingresar {
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; 
    -webkit-border-radius: 5px;
    background-color: #0082BF;
    /*background: -moz-linear-gradient(#9a9a9a,#444444);
    background: -ms-linear-gradient(#9a9a9a,#444444);
    background: -o-linear-gradient(#9a9a9a,#444444);
    background: -webkit-linear-gradient(#999999,#444444);
    background: linear-gradient(#9a9a9a,#444444);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #9a9a9a),color-stop(0, #444444));*/
    border-radius: 5px; 
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    margin-left: 10px;
    padding-bottom: 2px;  /* FIREFOX */
    width: 80px;
    -moz-box-shadow: 0 2px 1px #4b4b4b;
    -webkit-box-shadow: 0 2px 1px #4b4b4b;
    -o-box-shadow: 0 2px 1px #4b4b4b;
    -ms-box-shadow: 0 2px 1px #4b4b4b;
    box-shadow: 0 2px 1px #4b4b4b;
}

.ingresar:hover {
    color: #FFFFFF;
    background: #02639D;
    /*background: -moz-linear-gradient(#888B78,#4F5144);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#4F5144),color-stop(1, #888B78));
    background: -webkit-linear-gradient(#888B78,#4F5144);    
    background: -o-linear-gradient(#888B78,#4F5144); 
    background: -ms-linear-gradient(#888B78,#4F5144);    
    background: linear-gradient(#888B78,#4F5144);*/
}

.titulo {
    /* es estilo del titulo //////////////////////////////////////////////////////////////////////////////////// */ 
}

.navegacion {
    vertical-align: middle;
    list-style: none; 
    width: 100%; /* The menu should be the entire width of it's surrounding object, in this case the whole page */
    height: 10px;

    /*background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #9a9a9a),color-stop(0, #444444));*/
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 2px 1px #4b4b4b;
    -webkit-box-shadow: 0 2px 1px #4b4b4b;
    -o-box-shadow: 0 2px 1px #4b4b4b;
    -ms-box-shadow: 0 2px 1px #4b4b4b;
    box-shadow: 0 2px 1px #4b4b4b;
    margin-top: 0px;
} /* dark grey bg */


.navegacion li {
    width: 15%; 
    vertical-align: middle;
    display: inline-block;
   /* margin-left: 15px;*/
    text-align: center;
}

.navegacion li:hover {
    color: #151612;
    background-color:#A5A798;
    cursor: pointer;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.navegacion li a {
    display: block;
    height: 15px;
    text-align: center;
}

.navegacion ul{
    list-style: none;
    background: #02639D;
    background: -moz-linear-gradient(#02639D, #033847);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #033847),color-stop(1, #02639D));
    background: -webkit-linear-gradient(#02639D, #033847);    
    background: -o-linear-gradient(#02639D, #033847); 
    background: -ms-linear-gradient(#02639D, #033847);    
    background: linear-gradient(#02639D, #033847);    
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    margin-top: 0px;
}

.navegacion ul li a{
    text-decoration: none; /* removes the underline from the menu text */
    color: #fff; /* text color of the menu */
    padding: 11px 11px; /* 10.5px of padding to the right and left of the link and 11px to the top and bottom */
}

.navegacion ul li a:visited{ /* This bit just makes sure the text color doesn't change once you've visited a link */
    color: #fff;
    text-decoration: none;
}

.navegacion ul li a:hover, .navegacion ul li .current{
    color: #02639D;
    background: #02639D;
    background: -moz-linear-gradient(#FFFFFF,#C7C7CB);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#C7C7CB),color-stop(1, #FFFFFF));
    background: -webkit-linear-gradient(#FFFFFF,#C7C7CB);    
    background: -o-linear-gradient(#FFFFFF,#C7C7CB); 
    background: -ms-linear-gradient(#FFFFFF,#C7C7CB);    
    background: linear-gradient(#FFFFFF,#C7C7CB);
    cursor: pointer;
    -moz-border-radius: 8px;
    border-radius: 8px;
} 

.copyRight {
    margin-top: 100px;
}



